*{
    margin: 0px;
    padding: 0px;
}
.containar{
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 20px;
    background-color: red;
    width: 100px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}